* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff99cc, #ffcc00);
    color: #333;
    padding: 20px;
}

.todo-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

h1 {
    color: #ff4081;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: 1px;
}
span{
     font-size: 22px;
     color: #fff;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input {
    width: 70%;
    padding: 12px;
    border: 2px solid #ff4081;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: border 0.3s ease;
}

#todo-input:focus {
    border-color: #6200ea;
}

#add-btn {
    width: 25%;
    padding: 12px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-btn:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
}

li {
    background-color: #ffeb3b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

li:nth-child(odd) {
    background-color: #ff9800;
}

li:nth-child(even) {
    background-color: #4caf50;
}

li:hover {
    background-color: #ff5722;
}

li button {
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 50%;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #d32f2f;
}
